<!DOCTYPE html>
<html ng-app="refApp">
  <head>
    <title>Hello World!</title>
    <script src="index.js" type="text/javascript"></script>
  </head>
  <body>
    <h1>My References</h1>
    <div ng-controller = "RefController as refCtl">
    <div>
      <ul>
        <li>Fist reference.</li>
        <li>Second reference.</li>
      </ul>
    </div>
    <div>
      <form ng-submit="refCtl.add(newref)">
        <label>Title: </label>
        <input type="text" ng-model="newref.title">
        <br>
        <label>Authors: </label>
        <input type="text" ng-model="newref.authors">
        <br>
        <label>Journal: </label>
        <input type="text" ng-model="newref.journal">
        <label>Volumn: </label>
        <input type="text" ng-model="newref.volumn">
        <label>Page: </label>
        <input type="text" ng-model="newref.page">
        <label>Year: </label>
        <input type="text" ng-model="newref.year">
        <label>Citation ID: </label>
        <input type="text" ng-model="newref._id">
        <br>
        <input type="submit" value="Add">
      </form>
    </div>
  </div>
  </body>
</html>
