<!DOCTYPE html>
<html ng-app="refApp">
  <head>
    <title>Hello World!</title>
    <script src="index.js" type="text/javascript"></script>
  </head>
  <body>
    <h1>My References</h1>
    <div ng-controller="refListCtl">
      <ul>
        <li>Fist reference.</li>
        <li>Second reference.</li>
      </ul>
    </div>
    <div ng-controller="refNewCtl">
      <form ng-submit="refList.addRef()">
        <label>Title: </label>
        <input type="text" ng-model="newref.title">
        <br>
        <label>Authors: </label>
        <input type="text" ng-model="newref.authors">
        <br>
        <label>Journal: </label>
        <input type="text" ng-model="newref.journal">
        <label>Volumn: </label>
        <input type="text" ng-model="newref.volumn">
        <label>Page: </label>
        <input type="text" ng-model="newref.page">
        <br>
        <input type="submit" ng-click="add(newref)" value="Add">
      </form>
    </div>
  </body>
</html>
